[Desktop Entry]
Name=CHIRP
GenericName=Radio Programming Tool
Comment=Program amateur radios
Icon=chirp
Exec=chirpw %F
Terminal=false
Categories=HamRadio;
Type=Application
